
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&display=swap');
/*font-family: 'Dongle', sans-serif;*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Dongle', sans-serif;
    background-color:lavender;
}

.headline{
    width: 30%;
    margin: 0 auto;
    font-size: 3rem;
}
.newStyle{
    color:navy;
    text-decoration: underline;
    letter-spacing: 10px;
}
.bucket_list{
    font-size: 1.8rem;
    padding: 3%;
    text-transform: uppercase;
}
li{
    list-style: none;
}
button{
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 1.5rem;
    margin-left: 10%;
}